html
  head
    title=title
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
  body
    div.container
      div.jumbotron
        h1 Cluster informations

      table.table.table-striped
        thead
            tr
                th IP
                th Name
                th Port
        tbody#nodes

    script(src='/socket.io/socket.io.js')
    script(src='http://code.jquery.com/jquery-2.1.4.min.js')
    script(type='text/javascript').
        var socket = io.connect("#{ip}:8080");

        function update_peer_infos(peer_infos) {
            var peer_tr = $('#' + peer_infos.name);
            if ( peer_tr.length > 0 ) {
                peer_tr.find('.ip').first().html(peer_infos.ip);
                peer_tr.find('.port').first().html(peer_infos.port);
                peer_tr.find('.name').first().html(peer_infos.name);
            }
            else {
                $('#nodes').append(
                        '<tr id="' + peer_infos.name + '">' +
                        '<td class="ip">' + peer_infos.ip + '</td>' +
                        '<td class="port">' + peer_infos.port + '</td>' +
                        '<td class="name">' + peer_infos.name + '</td>' +
                        '</tr>'
                );
            }
        }

        socket.on('new_peer', function(peer_infos) {
            update_peer_infos(peer_infos);
        });

        socket.on('all_peers_infos', function(peers_infos) {
            peers_infos.forEach(function(peer_infos) {
                update_peer_infos(peer_infos);
            });
        });