html
  head
    title=title
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
  body
    div.container
      div.jumbotron
        h1 Cluster informations

      table.table.table-striped
        thead
            tr
                th IP
                th Name
                th Port
        tbody#nodes

    script(src='/socket.io/socket.io.js')
    script(src='http://code.jquery.com/jquery-2.1.4.min.js')
    script(type='text/javascript').
        var socket = io.connect("#{ip}:8080");

        function appendPeerInfos(peer_infos) {
            $('#nodes').append(
                    '<tr>' +
                    '<td>' + peer_infos.ip + '</th>' +
                    '<td>' + peer_infos.name + '</th>' +
                    '<td>' + peer_infos.port + '</td>' +
                    '</tr>'
            );
        }

        socket.on('new_peer', function(peer_infos) {
            console.log('New peer : ' + peer_infos.ip);
            appendPeerInfos(peer_infos);
        });

        socket.on('all_peers_infos', function(peers_infos) {
            peers_infos.forEach(function(peer_infos) {
                appendPeerInfos(peer_infos);
            });
        });