<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>PaaS Raspberry Pi</title>
</head>

<body>
    <h1>Cluster informations</h1>

    <ul id="nodes">
    </ul>

    <script src="/socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>

    <script>
        var socket = io.connect('http://localhost:8080');
        socket.on('new_peer', function(peer_name) {
            console.log('New peer : ' + peer_name);
            $('#nodes').append('<li>' + peer_name + '</li>');
        });
    </script>

    </body>
</html>